<div>
    <table class="table table-hover">
        <tr>
            <th>Name</th>
            <th>NickName</th>
        </tr>
        <tr *ngFor="let player of players">
            <td>{{player.name}}</td>
            <td>{{player.NickName}}</td>

        </tr>
    </table>
</div>
<br/>
<p>
    Contact Me:<br>
    <a href="https://github.com/sahildaga95">Github
    <i class="fa fa-github"></i></a><br>

    <a href="http://stackoverflow.com/users/6484542/sahil-daga">StackOverflow
    <i class="fa fa-stack-overflow"></i></a><br>

    <a href="https://twitter.com/sahildaga95">Twitter
    <i class="fa fa-twitter"></i></a><br>
</p>